.h3class {
  padding-top: 0;
  padding-bottom: 5px;
  margin-bottom: 0;
  font-size: 2.4rem;
  line-height: 1.2;
}

.h2class {
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: 3.63px;
  line-height: 20px;
  text-decoration: none;
  text-align: left;
  text-indent: 0;
  text-transform: uppercase;
  vertical-align: top;
  white-space: normal;
  word-spacing: 0;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0;
  text-shadow: 0 0 0 #333;
  color: #000;
}

.link {
  display: block;
  color: #777;
  text-decoration: none;
}

.container {
  text-align: center;
  background-color: #fff;
  font-family: Montserrat, serif;
  font-size: 1.3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.area {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.cardImage {
  background-color: #fffc;
  text-align: center;
  font-size: 3rem;
  overflow: hidden;
  width: 100%;
  height: 133px;
}

.coverheading {
  background-color: #ffffff36;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  padding: 30px 30px 20px;
  overflow-x: scroll;
  max-width: 1280px;
}

.card {
  width: 220px;
  min-width: 220px;
  background: #fff;
  box-shadow: 3px 3px 12px 2px #0009;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  text-align: left;
  padding: 1.5rem;
  margin: 0 2px;
  height: 167px;
  border-radius: 16px;
}

.card:hover {
  transform: translateY(-1rem);
}

.coverimg {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.center {
  text-align: center;
}

.p100 {
  padding: 100px 0;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1400px) {
  .container {
    max-width: 90vw;
  }
}

@media (max-width: 770px) {
  .container {
    max-width: 85vw;
  }
}
.coverimg {
  height: 133px;
}
.coverimgmain {
  height: 198px;
}
.h3classBack {
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  margin-bottom: 0 !important;
}
.cards::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.cards::-webkit-scrollbar-thumb {
  background: #efefef;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px #ffffff40, inset -2px -2px 2px #00000040;
}
