.footer {
  padding: 35px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  display: flex;
  align-items: flex-start;
  min-height: 10vh;
  max-width: 750px;
  width: 750px;
  justify-content: center;
  margin: 0 auto;
}

.item {
  padding: 0 35px;
}

.explore {
  width: 250px;
}

.experience {
  width: 265px;
}

.social {
  margin: 20px 0;
}

.social a {
  margin: 0 8px;
}

@media (max-width: 820px) {
  .menu {
    display: grid;
    text-align: center;
  }
  
  .item {
    padding: 20px 0;
  }
}